body{
    /* background-color: bisque; */
    background: url("bg2.jpg") no-repeat center center fixed;
    background-size: cover;
   
}

#name {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 25px;
    margin: 50px 200px 0px 200px;
}

#info {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    margin: 0px 200px 0px 200px;
    border-radius: 25px;
}

p {
    font-weight: bold;
    font-size: large;
    text-align: center;
}

ul {
    display: table;
    margin: 0px auto;
   
}

button:hover {
    background-color: rgb(195, 218, 245);
}